language: java

git:
  depth: 3

cache:
  directories:
  - $HOME/.gradle

matrix:
  fast_finish: true
  include:
    - os: linux
      jdk: openjdk8
    - os: linux
      jdk: oraclejdk8
    - os: osx
